@model Actor;

<form asp-action="Store" asp-controller="Actor">
 
<div class="input-group mb-3">
<label for="Name">Actor</label> <br> 
<input type="text" name="Name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="but"> 
  <button type="submit" class="btn btn-success">kirish</button>
</div>
</form>