@model Actor;

<form asp-action="Update" asp-controller="Actor" asp-route-id="@Model.Id" method="post">
 
<div class="input-group mb-3">
 <label for="Name">Actor</label>
<input type="text" name="Name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" value="@Model.Name">
</div>
<div class="but"> 
  <button type="submit" class="btn btn-success">kirish</button>
</div>
</form>